# Created by http://gitignore.io

### Python ###
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Translations
*.mo

# Rope
*.ropeproject

# PyCharm
*.idea

# Sublime
*.sublime-project
*.sublime-workspace

# Adobe
*.pdf

# Images
*.png
*.jpg

# File
/fonts
/fonts/*